header {
background-color: white;
display: flex;
justify-content: space-between;
align-items: flex-end;
margin: none;

align-items: center;
}

header > h1 {

    color: pink;
    text-align: center;
    font-family: cursive; }

body  {
    background-color: pink ;
    color: white;
 }


 header > nav  {

    display: flex;
    justify-content: space-around;
    

 }

header > nav > ul > li {
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    
} 

section{

    text-align: center;
}
p {

    text-align: center;
}

body > h1 {
    text-align: center;
}

h3{
    background-color: white;
    color: pink;
    text-align: center;
}

h2{
    background-color: white;
    color: pink ;
    text-align: center;
}

h4{
    text-align: center;
}

footer{
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    text-align: center;
    background-color: white;
    color: pink;

    
}

form{
    display: flex;
    flex-direction: column;
    text-align: center;
    

}

h1{

    font-size: 50px ;
}


body {

    margin: none;
}